apiVersion: apps/v1
kind: Deployment
metadata:
  name: a-mimir
spec:
  replicas: 2
  selector:
    matchLabels:
      app: a-mimir
  template:
    metadata:
      labels:
        app: a-mimir
    spec:
      containers:
      - name: a-mimir
        image: swithan/ctf_challenges:a_mimir
        imagePullPolicy: Always
        resources:
          requests:
            memory: "32Mi"
            cpu: "0.01"
          limits:
            memory: "64Mi"
            cpu: "0.03"
        ports:
        - containerPort: 8000
          protocol: TCP
      imagePullSecrets:
      - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: a-mimir
  labels:
    run: a-mimir
spec:
  ports:
  - port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    app: a-mimir
  type: NodePort