apiVersion: apps/v1
kind: Deployment
metadata:
  name: mr-puel
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mr-puel
  template:
    metadata:
      labels:
        app: mr-puel
    spec:
      containers:
      - image: swithan/ctf_challenges:mr_puel
        name: mr-puel
        imagePullPolicy: Always
        resources: 
          requests:
            memory: "16Mi"
            cpu: "0.005"
          limits:
            memory: "32Mi"
            cpu: "0.02"
        ports:
          - containerPort: 8008
            protocol: TCP
      imagePullSecrets:
      - name: regcred
      
---
apiVersion: v1
kind: Service
metadata:
  name: mr-puel
  namespace: default
  labels:
    run: mr-puel
spec:
  ports:
  - port: 8008
    protocol: TCP
    targetPort: 8008
  selector:
    app: mr-puel
  type: NodePort