apiVersion: apps/v1
kind: Deployment
metadata:
  name: pikachu
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pikachu
  template:
    metadata:
      labels:
        app: pikachu
    spec:
      containers:
      - image: swithan/ctf_challenges:pikachu
        name: pikachu
        imagePullPolicy: Always
        resources:
          requests:
            memory: "32Mi"
            cpu: "0.01"
          limits:
            memory: "64Mi"
            cpu: "0.03"
        ports:
        - containerPort: 8080
          protocol: TCP
      imagePullSecrets:
      - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: pikachu
  labels:
    run: pikachu
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: pikachu
  type: NodePort